
:root{
}

//responsive breakpoints:

$bp-largest: 1024px;
$bp-large: 640px;
$bp-medium: 480px;
$bp-small: 320px;
$bp-smallest: 250px;


* {
	margin: 0;
	padding: 0;
	font-family: 'Titillium Web', sans-serif;
	color: #afafaf;
	box-sizing: border-box;
}

*,
*::before,
*::after{
	box-sizing:inherit;
}

* > a {
	text-decoration: none;
}


html{
	box-sizing:border-box;
	font-size: 62.5%;

}

body{
	background-image: url("../img/background.png");
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main{
	
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    max-height: 1600px;

}

input:-moz-placeholder {color: #afafaf;}
input::-webkit-input-placeholder {color: #afafaf;}
textarea::-webkit-input-placeholder {color: #afafaf;}
textarea:-moz-placeholder { /* Firefox 18- */color: #afafaf;  }
textarea::-moz-placeholder {  /* Firefox 19+ */color: #afafaf;  }
textarea:-ms-input-placeholder {color: #afafaf;  }
input{outline: none;width: 100%;}
input[type="checkbox"]{display: none;}

