footer{
	display: flex;
	flex-direction: column;
	align-items: center;

}

.footer-img:first-child{
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.footer-img:not(:first-child){
	width: 75%;
}


.footer-img{
	max-width: 100%;
	opacity: .4;
}